# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env

# Database
*.db
*.db-journal

# Temporary files
*.mp3
*.mp4
*.ogg
voice_*
audio_*
video_*
video_note_*

# IDE
.vscode/
.idea/
*.swp
*.swo